body{
	background-color:#3366FF;
} 

#pongCanvas{
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	width: 800px;
	height: 600px;
	display: block;
	border: 1px solid #000000;
	z-index: 0; /*so the menu can show up on top of it*/
}

#enableJavaScriptText{
	text-align: center;
}